/* -----------------------------------
ZURB Foundation Phixed Dark Theme
No bullshit edition.

Version: 0.3.0 (no bs edition)
Author:  Phixyn
----------------------------------- */

/* -----------------------------------
    COLORS
----------------------------------- */

:root {
  /* Generic theme colors
     TODO #29: Rename these based on shade, rather than where
     they're used, because right now we're using them in
     multiple places and names don't make sense (e.g.
     shadow-main-color is not always used as a shadow color). */
  --background-main-color: rgb(18, 18, 18);
  --background-dark-color: rgb(0, 0, 0);
  --background-dark-transparent-color: rgba(0, 0, 0, 0.5);
  --background-light-color: rgb(32, 32, 32);
  --background-lighter-color: rgba(40, 40, 40, 0.8);
  /* TODO: Improve this color. Maybe darker or more transparent? */
  --background-sub-section-color: rgba(25, 25, 25, 0.8);
  /* --background-sub-section-color: #e6e6e6; */
  /* --border-main-color: #3d3d3d; */
  /* --border-main-color: #cacaca; */
  --border-main-color: rgba(68, 68, 68, 0.25);
  --border-light-color: rgb(57, 57, 57);
  --border-lighter-color: rgb(78, 78, 78);
  --separator-main-color: rgb(66, 66, 66);
  --separator-dark-color: rgb(37, 37, 37);
  --separator-accent-color: rgb(166, 33, 57);
  /* Shadow can be lighter/darker than accent, if desired */
  --shadow-main-color: rgb(166, 33, 57);
  /* Specific-purpose colors */
  --text-main-color: rgb(175, 175, 175);
  --text-dark-color: rgb(119, 119, 119);
  --link-main-color: rgb(219, 90, 127);
  --link-hover-color: rgb(217, 147, 167);
  --menu-link-main-color: rgb(157, 157, 157);
  --menu-link-hover-color: rgb(255, 255, 255);
}

/* -----------------------------------
    HTML ELEMENTS
----------------------------------- */

body {
  background: var(--background-main-color) url('../images/zwartevilt.png');
}

body,
.breadcrumbs li {
  color: var(--text-main-color);
}

h3,
h4,
.h3,
.h4 {
  padding: 0.9rem 0;
}

a,
.breadcrumbs a {
  color: var(--link-main-color);
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

hr {
  border-bottom: 1px solid var(--separator-main-color);
}

code {
  border: 1px solid var(--border-lighter-color);
  background-color: var(--background-lighter-color);
  color: var(--text-main-color);
}

pre {
  border: 2px solid var(--border-light-color);
  background-color: var(--background-light-color);
}

label {
  color: var(--text-main-color);
  font-weight: bold;
  font-size: 1.0em;
}

/* -----------------------------------
    TOP BAR
----------------------------------- */

/* Prevent FOUC (Flash Of Unstyled Content) for top bar */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
/* End of FOUC prevention for top bar */

.top-bar {
  border-bottom: 2px solid var(--separator-accent-color);
  box-shadow: 0 0 7px 2px var(--shadow-main-color);
  padding: 0.1rem;
}

.top-bar,
.top-bar ul {
  background-color: var(--background-dark-color);
  color: var(--menu-link-main-color);
}

/* -----------------------------------
    MENUS
----------------------------------- */

.menu .menu-text {
  padding: 0 2.5rem;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.21em;
}

.menu a,
.dropdown > li > a {
  color: var(--menu-link-main-color);
}

.menu a:focus,
.menu a:hover,
.dropdown > li > a:focus,
.dropdown > li > a:hover {
  color: var(--menu-link-hover-color);
}

.dropdown > li > a:focus,
.dropdown > li > a:hover {
  box-shadow: 0 -2px 0 0 var(--shadow-main-color) inset;
}

/* TODO: Add a pink box-shadow bottom to active links? */
/* .dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus,
.dropdown.menu > li.is-active > a:hover {
  box-shadow: 0 -2px 0 0 var(--shadow-main-color) inset;
} */

.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus {
  color: var(--separator-accent-color);
}

.dropdown.menu > li.is-active > a:hover {
  color: var(--separator-accent-color);
}

/* Down arrow for opening sub-menus */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--shadow-main-color) transparent transparent;
}

.is-dropdown-submenu.js-dropdown-active {
  border: 1px solid var(--border-main-color);
  background: var(--background-dark-transparent-color);
  margin-top: 0.3rem;
}

li.is-submenu-item > a:focus,
li.is-submenu-item > a:hover {
  background: var(--background-dark-color);
}

/* -----------------------------------
    THUMBNAIL
----------------------------------- */

.thumbnail {
  /* border: 1px solid var(--border-main-color); */
  /* For now, 4px border around it is fine */
  border-color: var(--border-main-color);
}

.thumbnail > img {
  width: 100%;
}

/* -----------------------------------
    CALLOUT
----------------------------------- */

.callout {
  border: 1px solid var(--border-main-color);
  background-color: var(--background-sub-section-color);
  color: var(--text-main-color);
}

/* -----------------------------------
    CARD
----------------------------------- */

.card {
  border: 1px solid var(--border-main-color);
}

.card,
.card-divider {
  background-color: var(--background-sub-section-color);
  color: var(--text-main-color);
}

/* -----------------------------------
    BUTTON
----------------------------------- */

.button {
  --button-main-color: rgb(25, 25, 25);
  --button-hover-color: rgb(36, 36, 36);
  /* Could also add transparency to button on hover */
  /* --button-hover-color: rgba(36, 36, 36, 0.8); */
  --button-border-color: rgba(85, 85, 85, 0.25);
  /* --button-border-color: rgba(72, 72, 72, 0.25); */
}

.button.primary {
  border: 1px solid var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--text-main-color);
}

.button.primary:hover,
.button.primary:active,
.button.primary:focus {
  background-color: var(--button-hover-color);
  color: var(--text-main-color);
}

/* -----------------------------------
    FORMS
----------------------------------- */

input {
  --input-bg-color: rgb(36, 36, 36);
  --input-border-color: rgb(51, 51, 51);
  --input-focus-bg-color: rgb(43, 43, 43);
  /* Also good, but couldn't decide between them */
  /* --input-focus-bg-color: rgb(45, 45, 45); */
  --input-focus-border-color: rgb(93, 93, 93);
  /* Also good? */
  /* --input-focus-border-color: rgb(79, 79, 79); */
}

[type="color"], [type="date"], [type="datetime-local"],
[type="datetime"], [type="email"], [type="month"],
[type="number"], [type="password"], [type="search"],
[type="tel"], [type="text"], [type="time"],
[type="url"], [type="week"], textarea {
  background-color: var(--input-bg-color);
  color: var(--text-main-color);
  border: 1px solid var(--input-border-color);
}

[type="color"]:focus, [type="date"]:focus,
[type="datetime-local"]:focus, [type="datetime"]:focus,
[type="email"]:focus, [type="month"]:focus,
[type="number"]:focus, [type="password"]:focus,
[type="search"]:focus, [type="tel"]:focus,
[type="text"]:focus, [type="time"]:focus,
[type="url"]:focus, [type="week"]:focus, textarea:focus {
  background-color: var(--input-focus-bg-color);
  color: var(--text-main-color);
  border-color: var(--input-focus-border-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 'placeholder=' HTML attribute */
::placeholder {
  color: var(--menu-link-main-color);
}

/* -----------------------------------
    SLIDER
----------------------------------- */

.slider {
  /* TODO #29 reuse the button/input vars once we do the renaming
     task? Could not be worth because of the transparency value
     but we could add the same transparency to the buttons. */
  --handle-main-color: rgba(25, 25, 25, 0.8);
  --handle-hover-color: rgba(36, 36, 36, 0.8);
  background-color: var(--separator-main-color);
}

.slider-fill {
  background-color: var(--separator-accent-color);
  /* box-shadow: 0 0 5px var(--shadow-main-color); */
  box-shadow: 0 0 10px var(--shadow-main-color);
}

.slider-handle {
  border: 1px solid var(--border-main-color);
  background-color: var(--handle-main-color);
}

.slider-handle:hover,
.slider-handle:active,
.slider-handle:focus {
  background-color: var(--handle-hover-color);
}

/* -----------------------------------
    FOOTER
----------------------------------- */

#footer {
  background-color: var(--background-dark-color);
  border-top: 2px solid var(--separator-accent-color);
  box-shadow: 0 0 5px 2px var(--shadow-main-color);
  /* margin-top: 6em; */
  padding: 1.11em 0;
}

.copyright-msg {
  border-top: 1px solid var(--separator-dark-color);
  margin: 1.18rem 5.967rem; /* 1.48em 7.4em */
  padding-top: 0.85rem; /* 1.04em */
  color: var(--text-dark-color);
  font-size: 0.8em;
  text-align: right;
}

/* -----------------------------------
    STICKY FOOTER

Required for having a footer div that
sticks to the bottom of the page no
matter how much content the page has.
----------------------------------- */

html {
	height: 100%;
}

body {
	position: relative;
	/* margin: 0; */ /* already present */
	min-height: 100%;
  /* Must be the same as the margin-bottom of the element that is
  before the footer element. */
	padding-bottom: 6em;
}

.grid-container {
	/* Must be the same as the padding-bottom of the body element */
  margin-bottom: 6em;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
