/* -----------------------------------
ZURB Foundation Phixed Dark Theme
No bullshit edition.

Version: 0.2.1 (no bs edition)
Author:  Phixyn

TODO:
 * Buttons and labels (dark theme colors)
 * Orbit height + Orbit images
----------------------------------- */

/* -----------------------------------
    COLORS
----------------------------------- */

:root {
  /* TODO Make new colors for slider, forms, etc. */
  --background-main-color: #121212;
  --background-dark-color: #000000;
  --background-lighter-color: rgba(40, 40, 40, 0.8);
  --background-light-color: rgb(32, 32, 32);
  --background-dark-transparent-color: rgba(0, 0, 0, 0.5);
  /* TODO: Improve this color. Maybe darker or more transparent? */
  --background-sub-section-color: rgba(25, 25, 25, 0.8);
  /* --background-sub-section-color: #e6e6e6; */
  /* --border-main-color: #3d3d3d; */
  /* --border-main-color: #cacaca; */
  --border-main-color: rgba(68, 68, 68, 0.25);
  --border-lighter-color: rgb(78, 78, 78);
  --border-light-color: rgb(57, 57, 57);
  --text-main-color: #d9d9d9;
  --text-dark-color: #777777;
  --link-main-color: #db5a7f;
  --link-hover-color: #d993a7;
  --menu-link-main-color: #9d9d9d;
  --menu-link-hover-color: #ffffff;
  --separator-main-color: #424242;
  --separator-dark-color: #252525;
  --separator-accent-color: #a62139;
  /* Shadow can be lighter/darker than accent, if desired */
  --shadow-main-color: #a62139;
  /* Orbit bullets */
  --button-main-color: #333333;
  --button-hover-color: #666666;
}

/* -----------------------------------
    HTML ELEMENTS
----------------------------------- */

body {
  background: var(--background-main-color) url('../images/zwartevilt.png');
}

body,
.breadcrumbs li {
  color: var(--text-main-color);
}

h3,
h4,
.h3,
.h4 {
  padding: 0.9rem 0;
}

a,
.breadcrumbs a {
  color: var(--link-main-color);
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

hr {
  border-bottom: 1px solid var(--separator-main-color);
}

code {
  border: 1px solid var(--border-lighter-color);
  background-color: var(--background-lighter-color);
  color: var(--text-main-color);
}

pre {
  border: 2px solid var(--border-light-color);
  background-color: var(--background-light-color);
}

label {
  /* color: var(--text-main-color); */
  color: #afafaf; /*  TODO make this the new text-main-color */
  /* color: #d9d9d9; */
  font-weight: bold;
  font-size: 1.0em;
}

/* -----------------------------------
    TOP BAR
----------------------------------- */

/* Prevent FOUC (Flash Of Unstyled Content) for top bar */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
/* End of FOUC prevention for top bar */

.top-bar {
  border-bottom: 2px solid var(--separator-accent-color);
  box-shadow: 0 0 7px 2px var(--shadow-main-color);
  padding: 0.1rem;
}

.top-bar,
.top-bar ul {
  background-color: var(--background-dark-color);
  color: var(--menu-link-main-color);
}

/* -----------------------------------
    MENUS
----------------------------------- */

.menu .menu-text {
  padding: 0 2.5rem;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.21em;
}

.menu a,
.dropdown > li > a {
  color: var(--menu-link-main-color);
}

.menu a:focus,
.menu a:hover,
.dropdown > li > a:focus,
.dropdown > li > a:hover {
  color: var(--menu-link-hover-color);
}

.dropdown > li > a:focus,
.dropdown > li > a:hover {
  box-shadow: 0 -2px 0 0 var(--shadow-main-color) inset;
}

/* TODO: Add a pink box-shadow bottom to active links? */
/* .dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus,
.dropdown.menu > li.is-active > a:hover {
  box-shadow: 0 -2px 0 0 var(--shadow-main-color) inset;
} */

.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus {
  color: var(--separator-accent-color);
}

.dropdown.menu > li.is-active > a:hover {
  color: var(--separator-accent-color);
}

/* Down arrow for opening sub-menus */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--shadow-main-color) transparent transparent;
}

.is-dropdown-submenu.js-dropdown-active {
  border: 1px solid var(--border-main-color);
  background: var(--background-dark-transparent-color);
  margin-top: 0.3rem;
}

li.is-submenu-item > a:focus,
li.is-submenu-item > a:hover {
  background: var(--background-dark-color);
}

/* -----------------------------------
    THUMBNAIL
----------------------------------- */

.thumbnail {
  /* border: 1px solid var(--border-main-color); */
  /* For now, 4px border around it is fine */
  border-color: var(--border-main-color);
}

.thumbnail > img {
  width: 100%;
}

/* -----------------------------------
    CALLOUT
----------------------------------- */

.callout {
  border: 1px solid var(--border-main-color);
  background-color: var(--background-sub-section-color);
  color: var(--text-main-color);
}

/* -----------------------------------
    CARD
----------------------------------- */

.card {
  /* border: 1px solid #3d3d3d; */
  border: 1px solid var(--border-main-color);
}

.card,
.card-divider {
  /* background: var(--button-main-color); */
  background-color: var(--background-sub-section-color);
  color: var(--text-main-color);
}

/* -----------------------------------
    BUTTON
----------------------------------- */

.button.primary {
  background-color: #191919;
}

.button.primary:focus,
.button.primary:hover {
  /* background-color: rgba(36, 36, 36, 0.8); */
  background-color: rgb(36, 36, 36);
}

.button.primary,
.button.primary:focus,
.button.primary:hover {
  /* border: 1px solid var(--border-main-color); */
  border: 1px solid rgba(85, 85, 85, 0.25);
  /* border: 1px solid rgba(72, 72, 72, 0.25); */
  /* TODO: Should be darker? */
  color: var(--text-main-color);
}

/* -----------------------------------
    FORMS
----------------------------------- */

[type="color"], [type="date"], [type="datetime-local"],
[type="datetime"], [type="email"], [type="month"],
[type="number"], [type="password"], [type="search"],
[type="tel"], [type="text"], [type="time"],
[type="url"], [type="week"], textarea {
  /* background-color: var(--separator-main-color); */
  background-color: hsl(0, 0%, 14%);
  color: var(--text-main-color);
  /* border: none; */
  border: 1px solid hsl(0, 0%, 20%);
}

[type="color"]:focus, [type="date"]:focus,
[type="datetime-local"]:focus, [type="datetime"]:focus,
[type="email"]:focus, [type="month"]:focus,
[type="number"]:focus, [type="password"]:focus,
[type="search"]:focus, [type="tel"]:focus,
[type="text"]:focus, [type="time"]:focus,
[type="url"]:focus, [type="week"]:focus, textarea:focus {
  /* TODO improve colors when focused? Or just adjust
  the default border and box-shadow. */
  /* TODO this is too light */
  /* background-color: var(--separator-main-color); */
  background-color: #2d2d2d;
  /* background-color: #2b2b2b; */
  color: var(--text-main-color);
  border-color: var(--separator-accent-color);
  -webkit-box-shadow: 0 0 5px var(--shadow-main-color);
  box-shadow: 0 0 5px var(--shadow-main-color);
}

.input-group-label {
  border: 1px solid var(--border-main-color);
  background: var(--background-sub-section-color);
  /* TODO: Should be darker? */
  color: var(--text-main-color);
}

/* 'placeholder=' HTML attribute */
::placeholder {
  color: var(--menu-link-main-color);
}

/* -----------------------------------
    SLIDER
----------------------------------- */

.slider {
  background-color: var(--separator-main-color);
}

.slider-fill {
  background-color: var(--separator-accent-color);
  /* box-shadow: 0 0 5px var(--shadow-main-color); */
  box-shadow: 0 0 10px var(--shadow-main-color);
}

.slider-handle {
  /* TODO: Improve - later? */
  /* background-color: var(--background-dark-color); */
  border: 1px solid var(--border-main-color);
  background-color: var(--background-lighter-color);
}

.slider-handle:hover {
  background-color: var(--background-dark-transparent-color);
}

.slider-handle,
.slider-handle:hover {
  border: 1px solid var(--border-main-color);
  /* border: 1px solid var(--border-main-color); */
}

/* -----------------------------------
    FOOTER
----------------------------------- */

#footer {
  background-color: var(--background-dark-color);
  border-top: 2px solid var(--separator-accent-color);
  box-shadow: 0 0 5px 2px var(--shadow-main-color);
  /* margin-top: 6em; */
  padding: 1.11em 0;
}

.copyright-msg {
  border-top: 1px solid var(--separator-dark-color);
  margin: 1.18rem 5.967rem; /* 1.48em 7.4em */
  padding-top: 0.85rem; /* 1.04em */
  color: var(--text-dark-color);
  font-size: 0.8em;
  text-align: right;
}

/* -----------------------------------
    STICKY FOOTER

Required for having a footer div that
sticks to the bottom of the page no
matter how much content the page has.
----------------------------------- */

html {
	height: 100%;
}

body {
	position: relative;
	/* margin: 0; */ /* already present */
	min-height: 100%;
  /* Must be the same as the margin-bottom of the element that is
  before the footer element. */
	padding-bottom: 6em;
}

.grid-container {
	/* Must be the same as the padding-bottom of the body element */
  margin-bottom: 6em;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
