/* -----------------------------------
ZURB Foundation Phixed Dark Theme
No BS edition.

Version: 0.5.0 (no bs edition)
Author:  Phixyn
----------------------------------- */

/* -----------------------------------
    CUSTOM PROPERTIES
----------------------------------- */

:root {
  --primary-background-color: rgb(18, 18, 18);
  --secondary-background-color: rgb(32, 32, 32);
  --accent-background-color: rgb(0, 0, 0);
  --accent-background-color-transparent: rgba(0, 0, 0, 0.5);

  /* TODO: Improve this color. Maybe darker or more transparent? */
  --primary-container-color: rgba(25, 25, 25, 0.8);
  --secondary-container-color: rgb(36, 36, 36);
  --accent-container-color: rgb(43, 43, 43);
  /* Also good, but couldn't decide between them */
  /* --accent-container-color: rgb(45, 45, 45); */

  --primary-border-color: rgba(68, 68, 68, 0.25);
  /* --primary-border-color: rgb(61, 61, 61); */
  --secondary-border-color: rgb(51, 51, 51);
  --accent-border-color: rgb(93, 93, 93);
  /* Also good? */
  /* --accent-border-color: rgb(79, 79, 79); */
  --primary-separator-color: rgb(66, 66, 66);
  --secondary-separator-color: rgb(37, 37, 37);

  /* Accent colors that make the theme "pop" */
  --primary-accent-color: rgb(166, 33, 57);
  /* Mainly used as shadow and can be lighter/darker than
   * primary accent, if desired. */
  --secondary-accent-color: rgb(166, 33, 57);

  /* Text colors */
  --primary-text-color: rgb(175, 175, 175);
  --secondary-text-color: rgb(119, 119, 119);
  --primary-link-color: rgb(219, 90, 127);
  --secondary-link-color: rgb(217, 147, 167);
  --primary-menu-link-color: rgb(157, 157, 157);
  --secondary-menu-link-color: rgb(234, 234, 234);
}

/* -----------------------------------
    TEXT SELECTION
----------------------------------- */

::-moz-selection {
  background: var(--primary-link-color);
  color:#fff;
}

::selection {
  background: var(--primary-link-color);
  color:#fff;
}

/* -----------------------------------
    HTML ELEMENTS
----------------------------------- */

body {
  background: var(--primary-background-color) url('../images/zwartevilt.png');
  color: var(--primary-text-color);
}

h3,
h4,
.h3,
.h4 {
  padding: 0.9rem 0;
}

a {
  color: var(--primary-link-color);
}

a:focus,
a:hover {
  color: var(--secondary-link-color);
  text-decoration: none;
}

hr {
  border-bottom: 1px solid var(--primary-separator-color);
}

code {
  border: 1px solid var(--secondary-border-color);
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

pre {
  border: 2px solid var(--secondary-border-color);
  background-color: var(--secondary-background-color);
}

label {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 1.0em;
}

/* -----------------------------------
    TOP BAR
----------------------------------- */

/* Prevent FOUC (Flash Of Unstyled Content) for top bar */
.no-js .top-bar {
  display: none;
}

.top-bar {
  border-bottom: 2px solid var(--primary-accent-color);
  box-shadow: 0 0 7px 2px var(--secondary-accent-color);
  padding: 0.55rem 0.1rem;
}

.top-bar,
.top-bar ul {
  background-color: var(--accent-background-color);
  color: var(--primary-menu-link-color);
}

/* -----------------------------------
    MENUS
----------------------------------- */

.menu .menu-text {
  padding: 0 2.5rem;
  font-size: 2vw;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.menu a,
.dropdown > li > a {
  color: var(--primary-menu-link-color);
}

.menu a:focus,
.menu a:hover,
.dropdown > li > a:focus,
.dropdown > li > a:hover {
  color: var(--secondary-menu-link-color);
}

.dropdown > li > a:focus,
.dropdown > li > a:hover {
  box-shadow: 0 -2px 0 0 var(--secondary-accent-color) inset;
}

/* TODO: Add a pink box-shadow bottom to active links? */
/* .dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus,
.dropdown.menu > li.is-active > a:hover {
  box-shadow: 0 -2px 0 0 var(--secondary-accent-color) inset;
} */

.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus {
  color: var(--primary-accent-color);
}

.dropdown.menu > li.is-active > a:hover {
  color: var(--primary-accent-color);
}

/* Down arrow for opening sub-menus */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--secondary-accent-color) transparent transparent;
}

.is-dropdown-submenu.js-dropdown-active {
  border: 1px solid var(--primary-border-color);
  background: var(--accent-background-color-transparent);
  margin-top: 0.3rem;
}

li.is-submenu-item > a:focus,
li.is-submenu-item > a:hover {
  background: var(--accent-background-color);
}

/* -----------------------------------
    MAIN CONTENT
----------------------------------- */

#main-content {
  /* Makes it possible to have a footer that sticks to
   * the bottom of the page no matter how much content
   * the page has. */
  min-height: 100vh;
}

/* -----------------------------------
    THUMBNAIL
----------------------------------- */

.thumbnail {
  /* border: 1px solid var(--primary-border-color); */
  /* For now, 4px border around it is fine */
  border-color: var(--primary-border-color);
}

.thumbnail > img {
  width: 100%;
}

/* -----------------------------------
    CALLOUT
----------------------------------- */

.callout {
  border: 1px solid var(--primary-border-color);
  background-color: var(--primary-container-color);
  color: var(--primary-text-color);
}

/* -----------------------------------
    CARD
----------------------------------- */

.card {
  border: 1px solid var(--primary-border-color);
}

.card,
.card-divider {
  background-color: var(--primary-container-color);
  color: var(--primary-text-color);
}

/* -----------------------------------
    BUTTON
----------------------------------- */

.button {
  --button-main-color: rgb(25, 25, 25);
  --button-hover-color: var(--secondary-container-color);
  /* Could also add transparency to button on hover */
  /* --button-hover-color: rgba(36, 36, 36, 0.8); */
  --button-border-color: rgba(85, 85, 85, 0.25);
  /* --button-border-color: rgba(72, 72, 72, 0.25); */
}

.button.primary {
  border: 1px solid var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--primary-text-color);
}

.button.primary:hover,
.button.primary:active,
.button.primary:focus {
  background-color: var(--button-hover-color);
  color: var(--primary-text-color);
}

/* -----------------------------------
    FORMS
----------------------------------- */

[type="color"], [type="date"], [type="datetime-local"],
[type="datetime"], [type="email"], [type="month"],
[type="number"], [type="password"], [type="search"],
[type="tel"], [type="text"], [type="time"],
[type="url"], [type="week"], textarea {
  background-color: var(--secondary-container-color);
  color: var(--primary-text-color);
  border: 1px solid var(--secondary-border-color);
}

[type="color"]:focus, [type="date"]:focus,
[type="datetime-local"]:focus, [type="datetime"]:focus,
[type="email"]:focus, [type="month"]:focus,
[type="number"]:focus, [type="password"]:focus,
[type="search"]:focus, [type="tel"]:focus,
[type="text"]:focus, [type="time"]:focus,
[type="url"]:focus, [type="week"]:focus, textarea:focus {
  background-color: var(--accent-container-color);
  /* border-color: var(--accent-border-color); */
  /* Trying out using theme accent as :focus border,
   * not sure if I like it yet. */
   border-width: 2px;
   border-color: var(--primary-accent-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--primary-text-color);
}

input[readonly], textarea[readonly] {
  background-color: var(--accent-container-color);
  cursor: auto;
}

input:disabled, textarea:disabled {
  background-color: var(--accent-container-color);
}

/* 'placeholder=' HTML attribute */
::placeholder {
  color: var(--primary-menu-link-color);
}

.help-text {
  color: var(--primary-text-color);
}

/* Foundation Abide plugin error states */

.is-invalid-input:not(:focus) {
  background-color: var(--accent-container-color);
}

.is-invalid-input:not(:focus)::placeholder {
  color: var(--primary-menu-link-color);
}

/* -----------------------------------
    SLIDER
----------------------------------- */

.slider {
  --handle-hover-color: rgba(36, 36, 36, 0.8);
  background-color: var(--accent-container-color);
}

.slider-fill {
  background-color: var(--primary-accent-color);
  /* box-shadow: 0 0 5px var(--secondary-accent-color); */
  box-shadow: 0 0 10px var(--secondary-accent-color);
}

.slider-handle {
  border: 1px solid var(--primary-border-color);
  background-color: var(--primary-container-color);
}

.slider-handle:hover,
.slider-handle:active,
.slider-handle:focus {
  background-color: var(--handle-hover-color);
}

/* -----------------------------------
    CLOSE BUTTON
----------------------------------- */

.close-button:focus, .close-button:hover {
  color: var(--primary-text-color);
}

/* -----------------------------------
    REVEAL
----------------------------------- */

.reveal {
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
}

[data-whatinput="touch"] .reveal {
  outline: 0;
}

/* -----------------------------------
    CUSTOM COMPONENTS
----------------------------------- */

/* -----------------------------------
    TOOLTIP
----------------------------------- */

.phix-tooltip {
  display: inline;
  position: relative;
}

.phix-tooltip .phix-tooltip-text {
  display: none;
  position: absolute;
  bottom: -1.69rem;
  transform: translateX(150%);
  min-width: 8.75rem;
  max-width: 16rem;
  padding: 0.3125rem;
  z-index: 2000;
  background-color: var(--accent-container-color);
  border-radius: 0.375rem;
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--secondary-border-color);
  color: var(--primary-text-color);
  text-align: center;
}

.phix-tooltip--bottom .phix-tooltip-text::after {
  content: "";
  position: absolute;
  top: -0.78rem;
  left: 50%;
  margin-left: -0.3125rem;
  border-width: 0.3125rem;
  border-style: solid;
  border-color: transparent transparent var(--accent-container-color) transparent;
}

/* -----------------------------------
    FOOTER
----------------------------------- */

#footer {
  background-color: var(--accent-background-color);
  border-top: 2px solid var(--primary-accent-color);
  box-shadow: 0 0 5px 2px var(--secondary-accent-color);
  margin-top: 5em;
  padding: 1.11em 0;
}

.copyright-msg {
  border-top: 1px solid var(--secondary-separator-color);
  margin: 1.18rem 5.967rem; /* 1.48em 7.4em */
  padding-top: 0.85rem; /* 1.04em */
  color: var(--secondary-text-color);
  font-size: 0.8em;
  text-align: right;
}
